.cart {
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.cart-header {
  margin-top: 14px;
  border-bottom: 0.1rem solid #d62222;
}
.cart-items {
  padding: 0;
  width: 100%;
  list-style: none;
  img {
    width: 5rem;
  }
  li {
    display: flex;
    div {
      padding: 0.5rem;
    }
    div:last-child {
      flex: 1;
    }
  }
}

.right {
  text-align: right;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  div {
    font-size: 2rem;
  }
  div,
  button {
    flex: 1;
    text-align: center;
  }
  div {
    font-size: 2rem;
  }
}

form {
  width: 100%;
}

.form-container {
  padding: 0;
  list-style: none;
  width: 100%;
  li {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
}

input {
  padding: 0.6rem 1rem;
}
