.cart {
  display: flex;
  padding: 1rem;
  margin: 0 1rem;
  flex-wrap: wrap;
  .button {
    // padding: 0.5rem 1.2rem;
    border: 1px solid #f18900;
    background-color: #f18900;
    &:hover {
      color: #f18900;
      background: transparent;
    }
  }
}

.cart-header {
  border-bottom: 0.1rem #f18900 solid;
}
.cart-items {
  padding: 0;
  width: 100%;
  list-style: none;
  img {
    width: 5rem;
  }
  li {
    display: flex;
    div {
      padding: 0.5rem;
    }
    div:last-child {
      flex: 1;
      white-space: nowrap;
    }
  }
}

// .cart-info {
//   display: flex;
//   flex-direction: column;
//   flex-wrap: wrap;
// }

.cart-items-right {
  white-space: nowrap;
  text-align: right;
  margin-right: -8px;
  button {
    margin-left: 10px;
    padding: 4px 14px;
  }
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  div {
    font-size: 2rem;
  }
  div,
  button {
    flex: 1;
    text-align: center;
  }
  button {
    margin-left: 12px;
    padding: 6px 8px;
  }
  div {
    font-size: 1.8rem;
  }
}

form {
  width: 100%;
}

.form-container {
  padding: 0;
  list-style: none;
  width: 100%;
  li {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  input {
    margin-top: 4px;
    padding: 0.6rem 1rem;
    border: none;
  }
  label {
    font-size: 1.6rem;
  }
  button {
    margin-top: 18px;
    padding: 1.3rem 1rem;
  }
}

// Order details

.order-details {
  position: relative;
  top: 30px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  li {
    margin-left: -40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
      padding: 10px;
    }
  }
  .items {
    text-align: right;
    padding: 0;
  }
  .close-modal {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    button {
      position: absolute;
      margin-top: -15px;
      top: -25px;
      right: 20px;
      color: #fff;
      background: transparent;
      font-size: 55px;
      transform: rotate(45deg);
      outline: none;
      :focus {
        border: none;
      }
    }
  }
}

.success-message {
  color: green;
  font-size: 24px;
}

.ReactModal__Overlay {
  position: relative;
  z-index: 1000;
}
