.cart {
  display: flex;
  padding: 1rem;
  margin: 0 1rem;
  flex-wrap: wrap;
}

.cart-header {
  border-bottom: 0.1rem #f18900 solid;
}
.cart-items {
  padding: 0;
  width: 100%;
  list-style: none;
  img {
    width: 5rem;
  }
  li {
    display: flex;
    div {
      padding: 0.5rem;
    }
    div:last-child {
      flex: 1;
    }
  }
}

// .cart-info {
//   display: flex;
//   flex-direction: column;
//   flex-wrap: wrap;
// }

.cart-items-right {
  text-align: right;
  margin-right: -8px;
  button {
    margin-left: 10px;
    padding: 4px 14px;
  }
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  div {
    font-size: 2rem;
  }
  div,
  button {
    flex: 1;
    text-align: center;
  }
  button {
    padding: 6px 8px;
  }
  div {
    font-size: 2rem;
  }
}

form {
  width: 100%;
}

.form-container {
  padding: 0;
  list-style: none;
  width: 100%;
  li {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  input {
    padding: 0.6rem 1rem;
  }
}
