.main {
  flex: 3 60rem;
}

.products-list {
  padding-top: 140px;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.modal-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  background: rgba(24, 24, 24, 0.9);
  padding: 20px;

  .modal-product-details {
    display: flex;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    img {
      object-fit: contain;
      max-width: 400px;
    }
  }
  .modal-products-detail-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin-top: 80px;
    height: 360px;
    .year-category {
      font-size: 24px;
    }
    .price-buy {
      display: flex;
      // align-items: center;
      justify-content: space-between;
      flex-direction: column;
      width: 460px;
      p {
        margin-top: 30px;
      }
      button {
        padding: 1.1rem 1.6rem;
      }
    }
  }

  .close-modal {
    color: #fff;
    background: transparent;
    border: none;
    font-size: 55px;
    position: absolute;
    top: 10px;
    right: 24px;
    transform: rotate(45deg);
  }
}
.modal-product-box {
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
}
.modal-product-price {
  font-size: 22px;
}
