.searchbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  background-color: #141414;
  margin: 0 auto;
  padding: 13spx;
}

.searchbar-content {
  position: relative;
  width: 70%;
  height: 55px;
  margin: 0 auto;
  border-radius: 40px;
  background: transparent;

  img {
    position: absolute;
    left: 38px;
    top: 15px;
    width: 22px;
  }
  ::placeholder {
    color: #ffffff;
  }

  input {
    font-size: 1.7rem;
    position: absolute;
    left: 20px;
    margin: 8px 0;
    padding: 0 0 0 60px;
    border: 0;
    width: 90%;
    background: transparent;
    color: #ffffff;
    height: 40px;
    :focus {
      outline: none;
    }
  }
}
