.header-wrapper {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100px;
  flex-direction: column;

  a {
    margin-left: 10px;
  }
}

.links {
  justify-content: space-between;
  align-items: baseline;
  display: flex;
  width: 300px;
  a:last-child {
    color: rgba(255, 255, 255, 0.7);
  }
}

.main-color {
  color: #f18900;
}

.header-content {
  background: #f18900;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  border: 0.1rem solid rgba(13, 13, 13, 0.7);
  // padding: 100px;
}
.header-filter-row {
  padding: 0 20px;

  align-items: center;
  display: flex;
}

.filter-result {
  margin-right: 10px;
}

.btn-search-icon {
  position: absolute;
  top: 15px;
  right: 40px;
  padding: 0.5rem 1.2rem;
  background: transparent;
  border: none;
  outline: none;
  img {
    width: 24px;
  }
}

.header-searchbar {
  width: 100%;
}
