.header-wrapper {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100px;
  flex-direction: column;

  .logo {
    margin-left: 10px;
  }
}

.links {
  justify-content: space-between;
  align-items: baseline;
  display: flex;
  width: 300px;
}

.main-color {
  color: #f18900;
}

.header-content {
  background: #f18900;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  border: 0.1rem solid rgba(13, 13, 13, 0.7);
}
.header-filter-row {
  position: relative;
  padding: 0 40px 0 20px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.header-filter-row-left {
  display: flex;
  align-items: center;
}

.filter-result {
  margin-right: 10px;
}

.btn-search-icon {
  position: absolute;
  top: 5px;
  left: 370px;
  padding: 0.5rem 1.2rem;
  background: transparent;
  border: none;
  outline: none;
  img {
    cursor: pointer;
    width: 20px;
  }
}

.header-searchbar {
  width: 100%;
}
