@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body,
#root {
  height: 100vh;
  margin: 0;
  background: #181818;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
}

li {
  list-style: none;
}

body,
input,
select,
button,
textarea {
  font-size: 1.6rem;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "main"
    "footer";
  grid-template-rows: 2fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}

// Main header
header {
  grid-area: header;
}

// Product ul
.content {
  display: flex;
  justify-content: center;
  @media screen and (max-width: 1000px) {
    flex-wrap: wrap;
  }
}
main {
  margin: 140px 0;
}

.sidebar {
  flex: 1 30rem;
  max-width: 860px;
  margin-right: 10px;
  padding: 0 10px;
}

.button {
  border: none;
  outline: none;
  border: 1px solid #f18900;
  background-color: #f18900;
}

.button.primary {
  cursor: pointer;
  &:hover {
    color: #f18900;
    background: transparent;
  }
}

.button-close-modal {
  cursor: pointer;
  outline: none;
}

// Admin page styling
.admin-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 30px;
  width: 100%;
  padding: 10px 40px;
  div {
    display: flex;
    height: 100%;
  }
  a {
    margin-right: 40px;
    font-size: 20px;
  }
  button {
    padding: 0 12px;
  }
}
